h1{
    display: flex;
    justify-content: center;
    background-color: bisque;
}
#start{
    display: flex;
    justify-content: center;
}
.formate{
    overflow: hidden;
    justify-content: center;
   border: 1px solid black;
   width: 200px;
   border-radius: 2rem;
   background-color: rgb(157, 0, 255);
}

.p{
    padding: 10px;
    background-color: rgb(17, 240, 24);
    margin-top: auto;

}

.button{
    margin-left: 145px;
   background-color: rgba(218, 217, 217, 0.998);
}

body{
    background-color: antiquewhite;
}

.btn{
    background-color: rgba(218, 217, 217, 0.998);
}
