h1{
  font-size: 60px;
}
.header {
  background-color: #003366;
  line-height: 60px;
  color: white;
  padding: 20px;
  text-align: center;
}

    .head img {
      height: 40px;
    }

body {
  background-color: #f4f8ff;
}

nav {
  background-color: #1a74ea;
  padding: 10px;
  text-align: center;
}
 .gate{
   display: flex;
   height: 850px;
   /* padding-left: 90px; */
 }
nav a {
  color: white;
  text-decoration: none;
  margin: 15px;
}
