body {
    background-image: url('charu.jpg');
    background-size: 100%;
    
    background-color: #f4f4f4a9;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-image-width: 10px;
}

table {
    background-color: rgba(245, 250, 251, 0.505);
    padding: 20px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.521);
    border-spacing: 15px;
    border: 2px solid;
}
th, td{
    text-align: left;
    margin: 10px;
    text-size-adjust: 200px;
    width: 100%;
    height: 100%;
}

.text{
     display: grid;
     grid-column: auto;
}

caption {
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.521);
    border-spacing: 15px;
    border: 2px solid;
     background-color: rgba(224, 227, 228, 0.921);
    padding: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-container{
     box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.521);
    border-spacing: 15px;
    border: 2px solid;
     background-color: rgba(224, 227, 228, 0.921);
    padding: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
}

button {
    padding: 10px 10px;
    margin: 5px 5px 0 0;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    width: 80%;
    justify-content: center;
    
}
 .input-box {
      width: 250px;
      text-align: center;
      height: 40px;
      box-sizing: border-box;
    }

    .button{
         width: 120px;
         box-sizing: border-box;
    }
