
.header{
   
   background-color: #003366;
  line-height: 60px;
  color: white;
  padding: 1px;
}

    .header img {
      height: 40px; 
    }

    h1{
      text-align: center;
    }
p{
    font-size: 20px;
}

a{
    font-size: 20px;
}