

.header{
       background-color: #003366;
  line-height: 60px;
  color: white;
  padding: 1px;
}


body{
    text-align: center;
  
}


button{
     background-color: cadetblue;
}


footer{
  background-color: rgb(23, 135, 200);
  display: flex;
 align-items: center;
 justify-content: center;

}
