@media screen and (min-width: 768px) {
  body{
     width: 100%;
  }
}
@media screen and (max-width: 768px) {
  body{
     width: 50%;
     margin: auto;
  }
}

.header{
       background-color: #003366;
  line-height: 60px;
  color: white;
  padding: 1px;
}
.img{
    display: flex;
    text-align: left;
}
.nav{
  
  padding: 10px;
  text-align: center;
}
body{
    text-align: center;
    background-color: rgba(127, 212, 255, 0.432);
}



footer{
  background-color: rgb(23, 135, 200);
  height: 50px;
 display: flex;
 justify-content: center;
}
