@media screen and (min-width: 768px) {
  body{
     width: 100%;
  }
}
@media screen and (max-width: 768px) {
  body{
     width: 50%;
     margin: auto;
  }
}

.header{
       background-color: #003366;
  line-height: 60px;
  color: white;
  padding: 1px;
}


footer{
  background-color: rgb(23, 135, 200);
  height: 50px;
 display: flex;
 justify-content: center;
}
