@media screen and (min-width: 768px) {
  body{
     width: 100%;
  }
}
@media screen and (max-width: 768px) {
  body{
     width: 50%;
     margin: auto;
  }
}
h1{
  font-size: 60px;
  text-align: center;
}
.header {
  background-color: #003366;
  line-height: 60px;
  color: white;
  padding: 1px;
}

    .header img {
      height: 40px; 
    }

body {
  background-color: #f4f8ff;
}

nav {
  background-color: #1a74ea;
  padding: 10px;
  text-align: center;
}
 .gate{
   display: flex;
   flex-direction: column;
 }
nav a {
  color: white;
  text-decoration: none;
  margin: 15px;
}
footer{
  background-color: rgb(23, 135, 200);
  height: 30px;
  padding-top: -300px;
}
