@media screen and (min-width: 768px) {
  body{
     width: 100%;
  }
}
@media screen and (max-width: 768px) {
  body{
     width: 50%;
     margin: auto;
  }
}

.header{
       background-color: #003366;
       width: 1550px;
  line-height: 20px;
  color: white;
  padding: 1px;
  
}

.img{  display: flex;
       text-align: left;
  }

  h1{
    text-align: center;
  }

body {
    
    background-size: 100%;
    display: grid;
    grid-column: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-image-width: 10px;
    transition-duration: 4s;
    transition-delay: 4s;
}

table {
    margin-left: 500px;
    width: 500px;
    background-color: rgb(214, 218, 216);
    padding: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.521);
    border-spacing: 15px;
    border: 2px solid;
    border-radius: 1rem;
}
th, td{
    border: 2px black;
    text-align: center;
    margin: 10px;
    text-size-adjust: 200px;
    width: 100%;
    height: 100%;
}
.input-box:hover{
     border: 3px solid;
}

.text{
     display: grid;
     grid-template-columns: auto;
}
/* 
.login-container{
     box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.521);
    border-spacing: 15px;
    border: 2px solid;
     background-color: rgba(224, 227, 228, 0.921);
    padding: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
} */

select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
}

button {
    padding: 10px 10px;
    margin: 5px 5px 0 0;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    width: 80%;
    justify-content: center;
    
}
 .input-box {
      width: 250px;
      text-align: center;
      height: 40px;
      box-sizing: border-box;
    }

    .button{
         width: 120px;
         box-sizing: border-box;
    }

    .login{
        color: white;
        text-decoration: none;
    }
  footer{
  background-color: rgb(23, 135, 200);
  display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
}